<!-- base.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Recipes Sharing Project</title>
    <!-- Include CSS and JavaScript files here -->
</head>
<body>
    <!-- Navigation bar -->
    <nav>
        <ul>
            <li><a href="{% url 'recipes-home' %}">Home</a></li>
            <li><a href="{% url 'recipe-create' %}">Create Recipe</a></li>
            <li><a href="{% url 'recipes-list' %}">Look for Recipe</a></li>
            <!-- Add more navigation links if needed -->
        </ul>
    </nav>

    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li><a href="{% url 'logout' %}">Log out</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Log in</a></li>
            <li><a href="{% url 'register' %}">Sign up</a></li>
            {% endif %}
            <!-- Add more navigation links if needed -->
        </ul>
    </nav>


    <!-- Content block -->
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- Include the footer here -->
</body>
</html>
