<!-- home.html -->

{% extends 'base.html' %}

{% block content %}
    <h1>Welcome to the Recipe Sharing Website!</h1>

    {% if user.is_authenticated %}
        <p><span style="font-weight: bold;">Hi {{ user.username }} !</span></p>
    {% else %}
        <p><span style="text-decoration: underline; font-weight: bold">To access all the functions of the site, please remember to log in.</span></p>
    {% endif %}
    <!-- Add more content to the home page if needed -->
    <p>To explore a comprehensive list of all the recipes created, you can make use of the <a href="{% url 'recipes-list' %}">Discover Recipes</a> function. Alternatively, if you wish to find recipes that meet specific parameters, you can utilize the <a href="{% url 'search-list' %}">Look for Recipes</a> function.</p>
    <p>If you come across recipes that you like, you have the option to add them to your favorites list for easier access at a later time.</p>
    <p>We would be delighted if you choose to share your recipes. Simply utilize the <a href="{% url 'recipe-create' %}">Create Recipe</a> function to craft your very own culinary creations.</p>
    <p>Enjoy!</p>




{% endblock %}
