{% block content %}
    <h1>{{ title }}</h1>
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        <hr>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <fieldset>
            <legend>Login Here</legend>
            {{ form.username.label }} {{ form.username }}
            {{ form.password.label }} {{ form.password }}
            <button type="submit">Log in</button>
            <hr>
            <a href="{% url "register" %}">You need an account? Register here!</a>
            <br>
            <a href="{% url "recipes-home" %}">Go back</a>
        </fieldset>
    </form>
{% endblock %}