
{% extends 'base.html' %}

{% block content %}
    <style>
        .recipes {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .recipes ul {

        }

        .recipes ul li {
            list-style: none;
        }

        .box {
            border: 1px double black;
            margin: 20px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    </style>

    <h1>Recipes</h1>
    <div class="recipes">
        <ul>
            {% for recipe in recipes %}
                <div class="box">
                    <h2>{{ recipe.title }}</h2>
                    {% if recipe.image %}
                        <img class="recipe_img" src="{{ recipe.image.url }}">
                    {% endif %}
                    <li><a href="{% url 'recipe-update' recipe.pk %}">edit</a></li>
                </div>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
