<!-- recipe_detail.html -->

{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'recipes-list' %}">Back to recipes list</a>
    <form method="post">
        {% csrf_token %}
        {% if favorite %}
            <input type="submit" value="Remove">
        {% else %}
            <input type="submit" value="Add">
        {% endif %}
    </form>
    <h1>{{ recipe.title }}</h1>
    <img class="recipe_img" src="{{ recipe.image.url }}">
    <p>Author: {{ recipe.author }}</p>
    <p>Description: {{ recipe.description }}</p>
    <p>Ingredients: {{ recipe.ingredients }}</p>
    <p>Instructions: {{ recipe.instructions }}</p>

    <!-- Additional details and styling for the recipe -->
{% endblock %}

