{% extends "Base.html" %}

{% block content %}
    <style>
        .recipes {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .recipes ul {

        }

        .recipes ul li {
            list-style: none;
        }

        .box {
            border: 1px double black;
            margin: 20px;
            padding: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    </style>

    <form method="GET">
        <b>Search by: </b> {{ form.title.label }} {{ form.title }}
        <b>and/or</b> {{ form.category.label }} {{ form.category }}
        <b>and/or</b> {{ form.author.label }} {{ form.author }}
        <button type="submit">Search</button>
    </form>
    <hr>
    {% if form.errors %}
        {{ form.errors }}
        <hr>
    {% endif %}
    <h1>Recipes</h1>
    <div class="recipes">
        <ul>
            {% for recipe in recipes %}
                <div class="box">
                    <h2>{{ recipe.title }}</h2>
                    <img class="recipe_img" src="{{ recipe.image.url }}">
                    <li><a href="{% url 'recipe-detail' recipe.pk %}">vedi</a></li>
                </div>

            {% endfor %}
        </ul>
    </div>
{% endblock %}
```
